body {
    padding: 0;
    margin: 0;
    background: #f0ead2;
    main {
        width: 100%;
        .play-zone 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: auto;
            margin-top: 130px;
            font-family: 'Montserrat';
            .controls {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                button {
                    padding: 10px 40px;
                    border: none;
                    border-radius: 10px;
                    font-size: 20px;
                    background: #99d98c;
                    transition-duration: 0.4s;
                    &:first-child {
                        margin-right: 15px;
                        background: #b56576;
                    }
                    &:hover {
                        transform: scale(1.025);
                        transition-duration: 0.4s;
                        cursor: pointer;
                    }
                }
            }
            #amount {
                font-size: 70px;
                font-weight: bold;
            }
            #bankAmount {
                font-size: 30px;
            }
            .banque {
                font-size: 30px;
            }
        }
    }
    footer {
        width: 100%;
        .stats {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            .stater {
                font-size: 20px;
                font-family: 'Montserrat';
                &:first-child {
                    margin-right: 35px;
                }
                &:nth-child(2) {
                    margin-right: 35px;  
                }
            }
        }
    }
}