$main-color: #9a8c98;
$secondary-color: #4a4e69;
$background-color: #f2e9e4;

body {
    padding: 0;
    margin: 0;
    background: $background-color;
    main {
        width: 100%;
        .play-zone 
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: auto;
            font-family: 'Montserrat';
            margin-top: 150px;
            .controls {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                button {
                    padding: 10px 40px;
                    border: none;
                    border-radius: 10px;
                    font-size: 20px;
                    background: $secondary-color;
                    transition-duration: 0.4s;
                    color: white;
                    &:first-child {
                        margin-right: 15px;
                        background: $main-color;
                    }
                    &:hover {
                        transform: scale(1.05);
                        transition-duration: 0.4s;
                        cursor: pointer;
                    }
                }
            }
            #amount {
                font-size: 90px;
                font-weight: bold;
            }
            #bankAmount {
                font-size: 30px;
            }
            .banque {
                font-size: 30px;
            }
        }
    }
    footer {
        width: 100%;
        .stats {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            .stater {
                font-size: 20px;
                font-family: 'Montserrat';
                &:first-child {
                    margin-right: 35px;
                }
                &:nth-child(2) {
                    margin-right: 35px;  
                }
                &:nth-child(3) {
                    margin-right: 35px;  
                }
            }
        }
    }
}